body {
    font-family: Arial, sans-serif;
    background-color: #ceb6b6;
    color: #333;
    line-height: 1.6;
}
h1 {
    color: #005a9c; /* Um azul Django */
}
ul {
    background-color: #a0b275;
    border: 1px solid #ddd;
    padding: 15px;
}
li {
    list-style-type: square;
}